#demo {
	width: 100px;
}

.demo1 {
	width: 200px !important;
}

.demo2 {
	width: 300px;
	display: block;
}


div {
	display: inline;
	border: 1px solid red;
}




@media only screen and (max-width: 576px) {
	div {
		border: 1px solid blue;
	}
}